{% extends 'base.html.twig' %}

{% block body %}

    <h2>Search References</h2>

    <br/>
    {{ form_start(form) }}

    <div class="row">
        <div class="col">
            {{ form_row(form.query, {"label": "Search Terms (e.g. Author, Paper Title, Conference)", "attr": {"placeholder": "Mass Spectrometry France"}}) }}
        </div>
        <div class="col">
            {{ form_row(form.formatType) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Search</button>
        </div>
    </div>
    <br/>

    {{ form_end(form) }}

    {% if searched %}
        <div class="results-section">
            <h2>Results</h2>
            <br/>

            {% if references|length == 0 %}
                <em id="no-results">No results found.</em>
            {% else %}
                <div id="some-results">
                    {% if format != 'word' %}
                        <div style="display:flex; flex-direction: column; gap: 0.5rem;">
                            {% for reference in references %}
                                <div style="display:flex;gap: 0.5rem;">
                                    <a class="favourite {{ favourite_service.checkById(reference.ref_id) ? "active" : "" }}" href="{{ path("favourite_toggle_redirect", {"id": reference.ref_id, "ref": path("homepage", {"query": query})}) }}"><i class="far fa-star"></i></a>
                                    <textarea class="form-control latex-ref" style="flex-grow: 1;">
                                        {{- reference[format]|raw -}}
                                    </textarea>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="card">
                            <div class="card-body" style="display:flex; flex-direction: column;	gap: 0.5rem;">
                                {% for reference in references %}
                                    {{ reference[format]|raw }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div class="partnership">

        <p>Created in partnership with
            <br class="break">
            <a target="_blank" href="https://ansto.gov.au/">
                <img alt="ANSTO Logo" src="{{ asset("images/ansto_logo.jpg") }}"/>
            </a>
            <br class="break">
            as part of
            <br class="break">
            <a target="_blank" href="https://ipac19.org/"><img alt="IPAC Logo"
                                                               src="{{ asset("images/ipac_logo.jpg") }}"/></a>
        </p>

    </div>

{% endblock %}
