{% extends 'base.html.twig' %}

{% block body %}
    {% if warning != "" or feedbacks|length != 0 %}
        <div class="text-center alert alert-danger">
            {% if warning != "" %}
                <strong>Warning</strong><br />
                {{ warning|trim|nl2br }}
            {% else %}
                <strong>Please note: </strong> We have recently received feedback indicated that this reference may have a problem.
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path("feedback_show", {"id": feedbacks[0].id }) }}">View</a>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}

    {% if is_granted("ROLE_ADMIN") %}
        <div class="float-right btn-group">
            <a class=" btn btn-primary" href="{{ path('reference_edit', { 'id': reference.id }) }}"><i class="fas fa-edit"></i> Edit</a>
            <button class="btn btn-danger btn-modal" type="button" data-href="{{ path('reference_delete', { 'id': reference.id }) }}"><i class="fas fa-trash"></i> Delete</button>
        </div>

    {% endif %}
    <div class="float-right btn-group">
        <button class="btn btn-default btn-modal btn-modal-lg" data-href="{{ path('feedback_new', { 'id': reference.id }) }}"><i class="fas fa fa-question-circle"></i> Fix a problem</button>
    </div>
    <h2><a class="favourite {{ favourite_service.check(reference) ? "active" : "" }}" href="{{ path("favourite_toggle_redirect", {"id": reference.id, "ref": path("reference_show", {"id": reference.id})}) }}"><i class="far fa-star"></i></a> Reference</h2>
    <br />
    <h3>For Word</h3>

    <div class="card">
        <div class="card-body">
            {% include "reference/word.html.twig" %}
        </div>
    </div>
    <br />
    <h3>For LaTeX</h3>
    <p>{% spaceless %}
            <textarea class="form-control latex-ref">
{% include "reference/latex.html.twig" %}
            </textarea>
        {% endspaceless %}
    </p>

    <h3>For BibTeX</h3>
    <p>{% spaceless %}
            <textarea class="form-control bibtex-ref">
{% include "reference/bibtex.html.twig" %}</textarea>
        {% endspaceless %}
    </p>

    <a class="btn btn-block" href="{{ path('conference_format', {"ref": path("reference_show", {"id": reference.id })}) }}">
        {% if form == "long" %}
            Use Abbreviated Form
        {% else %}
            Use Complete Form
        {% endif %}
    </a>
    <br />

    <br />
    <h3>Metadata</h3>

    <div class="card">
        <div class="card-body">


            <p>
                Paper Title: {{ reference.title }}<br />
                {% if reference.paperUrl is not null %}
                    Paper URL: <a href="{{ reference.paperUrl }}" target="_blank">{{ reference.paperUrl }}</a><br />
                {% endif %}
                Conference: <a href="{{ path("conference_show", {"id": reference.conference.id }) }}">{{ reference.conference }}</a><br />
                Paper ID: {{ reference.paperId }}<br />
                {% if reference.conference.published and reference.inProc %}
                    Location in proceedings: {{ reference.position }}<br />
                {% endif %}
                {% if reference.originalAuthors is not null %}
                    Original Author String: {{ reference.originalAuthors }}
                {% endif %}

            </p>
            <h4>Associated Authors</h4>
            <ul>
                {% for author in reference.authors %}
                    <li><a href="{{ path("author_show", {"id": author.id }) }}">{{ author }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br />
    <a class="btn btn-default" href="{{ path('homepage') }}"><i class="fas fa-arrow-left"></i> Back to the list</a>


{% endblock %}
