{% extends 'base.html.twig' %}

{% block body %}
    <h2>Users</h2>
    <br/>
    {% set filters = {'u.email': 'Email'} %}

    {{ knp_pagination_filter(pagination, filters) }}

    {% set filtered = 0 %}
    {% if pagination.params.filterField is defined and pagination.params.filterField in filters|keys %}
        {% set filtered = 1 %}
        {% set label = filters[pagination.params.filterField] %}
        {% set field = pagination.params.filterField|slice(2) %}
    {% endif %}
    <br/>

    <table class="table table-striped">
        <thead>
        <tr>
            <th{% if pagination.isSorted is defined and pagination.isSorted('u.email') %} class="sorted"{% endif %}>
                {% if pagination.isSorted is defined %}
                    {{ knp_pagination_sortable(pagination, 'Email', 'u.email') }}
                {% else %}
                    Email
                {% endif %}
            </th>
            <th{% if pagination.isSorted is defined and pagination.isSorted('u.roles') %} class="sorted"{% endif %}>
                {% if pagination.isSorted is defined %}
                    {{ knp_pagination_sortable(pagination, 'Administrator', 'u.roles') }}
                {% else %}
                    Administrator
                {% endif %}
            </th>
            <th{% if pagination.isSorted is defined and pagination.isSorted('u.notifications') %} class="sorted"{% endif %}>
                {% if pagination.isSorted is defined %}
                    {{ knp_pagination_sortable(pagination, 'Notifications', 'u.notifications') }}
                {% else %}
                    Notifications
                {% endif %}
            </th>
            <th width="200" class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in pagination %}
            <tr>
                <td>{{ user.email }}</td>
                <td>
                    {% if 'ROLE_ADMIN' in user.roles %}
                        Administrator
                    {% endif %}
                </td>
                <td>{{ user.notifications ? "Yes" : "" }}</td>
                <td class="text-center">
                    <a href="{{ path("user_edit", {"id": user.id}) }}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
    <div class="d-flex justify-content-between">
        <div class="p-2 total align-self-center">
            {{ pagination.getTotalItemCount }} results
        </div>

        <div class="navigation p-2 align-self-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}
